@model IEnumerable<MyFirstRealWebApp.Course>

@{
    ViewBag.Title = "Course Search";
}

<h2>
	Course Search
</h2>

<form method="get" asp-controller="Home" asp-action="CourseSearch">
	<p>
		<input type="text" name="name" id="name">
		<input type="submit" value="Search" />
	</p>
	
	@if (Model != null)
	{
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Location</th>
					<th>Created On</th>
				</tr>			
			</thead>
			<tbody>
				@foreach(Course course in Model)
				{
					<tr>
						<td>@course.Id</td>
						<td>@course.Name</td>
						<td>@course.Location</td>
						<td>@course.CreatedOn.ToString()</td>
					</tr>
				}			
			</tbody>
		</table>		
	}
</form>